{% extends "base.html" %}

{% block content %}

<div class="container pt-5">

    <div class="row">

            <div class="col-lg-12 entries">

                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        {% include 'forms_crud/books_crud_form.html' %}
                        <input type="submit" class="btn btn-primary form-control mb-2" value="Update">
                        <a href="{{ book.get_delete_url }}" class="btn btn-danger form-control mb-2">Delete</a>
                    </form>

            </div>

        </div>
</div>

{% endblock %}