{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">All Books</h1>
            <h2 class="lead">A range of wonderful programming books to help you learn JavaScript.</h2>
                <a class="text-primary" href="{% url 'book_create' %}" class="btn btn-secondary btn-block"> <h1>Create a View</h1></a>
        </div>
        
        <div class="py-5">
            <div class="row">
                {% for book in object_list %}
                <div class="col-md-4">
                    <a class="text-dark" href="{{ book.get_absolute_url }}">
                        <div class="card mb-4 box-shadow">
                            <div class="card-body">
                                <h2 style="font-size:18px;font-weight:bold;min-height:42px;">
                                    {{book.title|truncatechars:50}}</h2>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="text-muted">{{book.post | truncatechars:15}}</p>
                                    <small class="text-muted">{{book.isbn}}</small>
                                </div>
                                <small class="text-muted">{{time}}</small>
                                <p class="lead">
                                    <a class="text-uppercase" href="{{ book.get_update_url }}">  <p class="text-primary">Edit a View</p></a>
                                    <a class="text-uppercase" href="{{ book.get_delete_url }}">  <p class="text-primary">Delete a View</p></a>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

            <!--Pagination-->
            <div class="row">
                <div class="col-12">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}